<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" [attr.data-filter]="'*'" (click)="filterByCategory(-1)">All</li>
                        <li *ngFor="let c of categories" [attr.data-filter]="'.' + getCategoryCssClass(c.categoryId)"
                            (click)="filterByCategory(c.categoryId)">
                            {{c.categoryName}}
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row featured__filter" style="min-height: 800px;">
            <div *ngIf="!products.length">
                <h3>No products for the selected category</h3>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix {{getCategoryCssClass(product.categoryId)}}"
             *ngFor="let product of products">
                
                <div class="featured__item">
                    <div class="featured__item__pic set-bg"
                        [style.background-image]="'url(' + product.productImages[0].imageUrl + ')'">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a [routerLink]="['/product/detail', product.productId]" routerLinkActive="router-link-active"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">{{product.productName}}</a></h6>
                        <h5>${{product.price}}</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>