.address-details {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.address-details:hover {
    background-color: #7bcde4;   
}