<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i>{{contactEmail}}</li>
                            <!-- <li>Free Shipping for all Order of $99</li> -->
                            <li *ngIf="timeoutSeconds>1 && timeoutSeconds<60 ">Your session will timeout in
                                {{timeoutSeconds}} seconds</li>
                            <li *ngIf="timeoutSeconds===1">Your session timed out</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="assets/img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Spanis</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            <a *ngIf="!loginDisplay" (click)="login()"><i class="fa fa-user"></i> Login</a>
                            <a *ngIf="loginDisplay" (click)="editProfile()"><i class="fa fa-user"></i> Edit Profile</a>
                            <a *ngIf="loginDisplay" (click)="logout()">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="assets/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
                        </li>                        
                        <li><a>Shopping</a>
                            <ul class="header__menu__dropdown">
                                <!-- <li><a [routerLink]="['/product/details/2']" routerLinkActive="router-link-active" >Shop Details</a></li> -->
                                <li><a [routerLink]="['/product/shop']" routerLinkActive="router-link-active">Shop</a></li>
                                <li><a [routerLink]="['/shopping/cart']" routerLinkActive="router-link-active">Shoping
                                        Cart</a></li>
                                <li><a [routerLink]="['/shopping/wishlist']"
                                        routerLinkActive="router-link-active">Wishlist</a></li>
                                <li><a [routerLink]="['/shopping/checkout']"
                                        routerLinkActive="router-link-active">Checkout</a></li>                                
                            </ul>
                        </li>
                        <li><a>Address</a>
                            <ul class="header__menu__dropdown">                                
                                <li><a [routerLink]="['/user/address/list']" routerLinkActive="router-link-active">Manage Address</a></li>
                            </ul>
                        </li>
                        <li><a>Manage</a>
                            <ul class="header__menu__dropdown">                                
                                <li><a [routerLink]="['/admin/action']" routerLinkActive="router-link-active">Actions Menu</a></li>
                                <li><a [routerLink]="['/admin/manage/products']"
                                        routerLinkActive="router-link-active">Manage Products</a></li>
                                <li><a [routerLink]="['/admin/manage/product/create']"
                                        routerLinkActive="router-link-active">Add Product</a></li>                                
                            </ul>
                        </li>
                        <!-- <li><a href="./blog.html">Blog</a></li> -->
                        <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a [routerLink]="['/shopping/cart']" routerLinkActive="router-link-active"><i
                                    class="fa fa-shopping-bag"></i> <span>{{cartItems$ | async}}</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>${{cartTotal$ | async }} </span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->